*{
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.web-title{
    font-size: 45px;
    font-weight: 800;
    color: rgb(24, 24, 24);
}
.web-title> span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.nav-btn, .banner-btn{
    background-color: #FD6E0A;
    border-radius: 6px;
    color: #FFFFFF;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 20px;
    border: 0;
}
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 40px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.contact-btn{
    border: 1px solid #FD6E0A;
    background-color: #FFFFFF;
    color: #FD6E0A;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
}
.banner-image> img{
    width: 450px;
    margin-left: 200px;
}

/* about section start */
.about{
    padding: 100px;
    text-align: center;
    margin: 50px 150px;
    background-color: #FFF8F3;
}
.section-description{
    color: #757575;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info> p{
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #757575;
}
.info> b{
    margin-top: 0px;
    padding-top: 0px;
    line-height: 0px;
}